<table>
    <thead>
    </thead>
    <tbody>
    <tr>
        <td data-b-a-s="thin" data-a-v="top" data-f-bold="true"> Kursus</td>
        <td data-b-a-s="thin" data-a-v="top"><%= schedule.course %></td>
    </tr>
    <tr>
        <td data-b-a-s="thin" data-a-v="top" data-f-bold="true"> Kelas</td>
        <td data-b-a-s="thin" data-a-v="top"><%= schedule.classroom %></td>
    </tr>
    <tr>
        <td data-b-a-s="thin" data-a-v="top" data-f-bold="true"> Mata Diklat</td>
        <td data-b-a-s="thin" data-a-v="top"><%= schedule.subject %></td>
    </tr>
    <tr>
        <td data-b-a-s="thin" data-a-v="top" data-f-bold="true"> Widyaiswara</td>
        <td data-b-a-s="thin" data-a-v="top"><%= schedule.teacher %></td>
    </tr>
    <tr>
        <td data-b-a-s="thin" data-a-v="top" data-f-bold="true"> Tanggal</td>
        <td data-b-a-s="thin" data-a-v="top" data-t="s"><%= schedule.date %></td>
    </tr>
    <tr>
        <td data-b-a-s="thin" data-a-v="top" data-f-bold="true"> Durasi</td>
        <td data-b-a-s="thin" data-a-v="top"><%= schedule.duration %></td>
    </tr>
    <tr>
        <td data-b-a-s="thin" data-a-v="top" data-f-bold="true"> Tipe Tes</td>
        <td data-b-a-s="thin" data-a-v="top"><%= schedule.type %></td>
    </tr>
    <tr>
        <td data-b-a-s="thin" data-a-v="top" data-f-bold="true"> Ruangan</td>
        <td data-b-a-s="thin" data-a-v="top"><%= schedule.room %></td>
    </tr>
    <tr>
        <td data-b-a-s="thin" data-a-v="top" data-f-bold="true"> Deskripsi</td>
        <td data-b-a-s="thin" data-a-v="top"><%= schedule.desc %></td>
    </tr>
    </tbody>
</table>